<!DOCTYPE html>
<html>
<head>
  <title>EAC Dummy and Test-application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag Eactheme::Engine.main_css %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>
</head>
<body>

<header>EAC Dummy and Test-application</header>

<section id='main'>
  <%= render Eactheme::Engine.main_template, y: yield %>
</section>

</body>
</html>
